.table_area{
  background-color: #FEFEFE;
  width: 90%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  grid-column-start: 2;
  grid-row-start: 2;
}

.table_area table{
  width: 100%;
}

.table_area th, .table_area td {
  padding: 5px;
  text-align: middle;
  background-color: #F5F5F5;
}

.table_area th {
  background-color: #4CAF50;
  color: white;
}

.table_area tr:nth-child(even) {background-color: #f2f2f2;}

.actual_payment_class {
  text-align: left;
  font-weight: bold;
  width: 20ex;
}

.model_choice{
  text-align: left;
  float: left;
  padding: 10px 10px;
  width: 100%;
  border: 1px solid #000;
}
