
body{
  background-color: #CCC2A8;
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  color: #353535;
}

ol, ul {
  padding-left: 30px;
}

h1{
  text-align: center;
  color: #773d00;
}

#explain{
  text-align: center;
  padding-bottom: 10px;
  font-size: larger;
}

#instructions{
  background: #CC8;
  width:50%;
  margin: 0 auto;
  border: double;
  padding-left: 20px;
}

#instructions > h3{
  text-align:center;
  text-decoration: underline;
  color: #773d00;
}


.cubeContainer{
  width: 680px;
  text-align: center;
  margin: 0 auto;
}

.cubeCell{
  background-color: #EEE;
  min-width: 40px;
  min-height:40px;
  vertical-align: top;
  display: inline-block;
  border: 1px solid #999;
  padding: 0px;
  margin: 0px;
  margin-top: -1px;
  margin-right:-1px;
  font-size: large;
}

.cubeCell:focus{
  outline: none;
}


.button-row{
  background-color:#CCFFCC;
  text-align: justify;
}

.bigButton{
  background-color: #DADADA;
  display: inline-block;
  height: 36px;
  width: 20%;
  margin: 2%;
  text-align: center;
  font-size: 16px;
  color: #922;
  font-weight: bold;
}

.button-row:after{
  content: '';
  width: 100%; /* Ensures justification for single lines */
  display: inline-block;
}

.cell-row{
  margin: 0px;
  padding: 0px;
  height: 40px;
  font-size: 0em;
}
.cell-row:after{
  clear: both;
}


.face1{
  background: #87CFBC;
}

.face2{
  background: #C9C0CE;
}

.face3{
  background: #C4E0B1;
}

.face4{
  background: #5EBDD8;
}

.face5{
  background-color: #E2C4A3;
}

.face6{
  background-color: #AA7979;
}
